@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

html, body {
  background-color: #f8f3eb;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Fascinate', cursive;
  color: #eb4559;
}

h2 {
  text-align: center;
}

form {
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
}

input {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin:10px 0;
  padding: 10px;
  border: none;
}

input[type="submit"] {
  width: 100px;
  color: #40bfc1;
  background-color: #f8f3eb;
  border: none;
  font-size: 18px;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.row {
  display: flex;
}

.modal {
  height: 40vh;
  width: 50vw;
  position: absolute;
  background-color: #40bfc1;
  color: #f8f3eb;
  top: 30vh;
  left: 25vw;
}

.delete-button {
  margin: 0 auto;
  background: #f8f3eb;
  font-weight: bold;
  color: #eb4559;
  border: none;
  padding: 5px;
  margin: 5px;
  position: absolute;
  right: 5px;
}

.close-button {
  background: #eb4559;
  border: none;
  color: white;
  margin: 5px;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.plus-button {
  color:white;
  background-color: #eb4559;
  border: none;
  height: 70px;
  width: 70px;
  font-size: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
  }

  .modal {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
}